<h1>Professores</h1>
<h2>Cadastro de Professores:</h2>
<hr>
<form action="">
  <p>Nome: <input type="text" name="nomeProfessor" [(ngModel)]="prof.name"></p>
  <button type="button" (click)="cadastrarProf()">Cadastrar</button>
</form>
<h2>Professores Cadastrados:</h2>
<hr>
<table>
  <tr>
    <th>#ID</th>
    <th>Nome</th>
    <th>Ativo</th>
    <th colspan="3">Funções</th>
  </tr>
  <tr *ngFor="let profs of profs">
    <td>{{profs.id}}</td>
    <td>{{profs.name}}</td>
    <td>{{profs.ativo}}</td>
    <td><button type="button" (click)="atualizarProfessor(profs.id)">Alterar</button></td>
    <td><button type="button" (click)="desativarProfessor(profs.id, profs.ativo)">Ativar/Desativar</button></td>
    <td><button type="button" (click)="excluirProfessor(profs.id)">Excluir</button></td>
  </tr>
</table>
