<h1>Professores</h1>
<h2>Cadastro de Professores:</h2>
<hr>
<form action="">
  <p>Nome: <input type="text" name="NameTeacher" [(ngModel)]="teacher.name"></p>
  <button type="button" (click)="CreateTeacher()">Cadastrar</button>
</form>
<h2>Professores Cadastrados:</h2>
<hr>
<table>
  <tr>
    <th>#ID</th>
    <th>Nome</th>
    <th>Ativo</th>
    <th colspan="3">Funções</th>
  </tr>
  <tr *ngFor="let teacher of teachers">
    <td>{{teacher.id}}</td>
    <td>{{teacher.name}}</td>
    <td>{{teacher.active}}</td>
    <td><button type="button" (click)="UpdateTeacher(teacher.id)">Alterar</button></td>
    <td><button type="button" (click)="DeactivateTeacher(teacher.id, teacher.ativo)">Ativar/Desativar</button></td>
    <td><button type="button" (click)="DeleteTeacher(teacher.id)">Excluir</button></td>
  </tr>
</table>
